@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?myk7am');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?myk7am#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?myk7am') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?myk7am') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?myk7am##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-vimeo {
  &:before {
    content: $icon-vimeo; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-tiktok {
  &:before {
    content: $icon-tiktok; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-research-gate {
  &:before {
    content: $icon-research-gate; 
  }
}
.icon-orcid {
  &:before {
    content: $icon-orcid; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-academia-edu {
  &:before {
    content: $icon-academia-edu; 
  }
}
.icon-audio {
  &:before {
    content: $icon-audio;     
    color: #fff;
  }
}
.icon-document {
  &:before {
    content: $icon-document;     
    color: #fff;
  }
}
.icon-presentation {
  &:before {
    content: $icon-presentation;     
    color: #fff;
  }
}
.icon-gallery {
  &:before {
    content: $icon-gallery;     
    color: #fff;
  }
}
.icon-video {
  &:before {
    content: $icon-video;     
    color: #fff;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-user-del {
  &:before {
    content: $icon-user-del; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil; 
  }
}

