$icomoon-font-family: "commonlandsnet" !default;
$icomoon-font-path: "fonts" !default;

$icon-youtube: "\e900";
$icon-whatsapp: "\e901";
$icon-vimeo: "\e902";
$icon-twitter: "\e90e";
$icon-tiktok: "\e90f";
$icon-telegram: "\e910";
$icon-research-gate: "\e911";
$icon-orcid: "\e912";
$icon-linkedin: "\e913";
$icon-instagram: "\e914";
$icon-facebook: "\e915";
$icon-academia-edu: "\e916";
$icon-audio: "\e909";
$icon-document: "\e90a";
$icon-presentation: "\e90b";
$icon-gallery: "\e90c";
$icon-video: "\e90d";
$icon-chevron-left: "\e907";
$icon-chevron-right: "\e908";
$icon-user-del: "\e906";
$icon-user: "\e905";
$icon-trash: "\e903";
$icon-pencil: "\e904";

